[tool.poetry]
name = "ixia"
version = "1.2.0"
description = "A library connecting secrets' security with random's versatility"
authors = ["trag1c <trag1cdev@yahoo.com>"]
license = "MIT"
documentation = "https://trag1c.github.io/ixia/"
repository = "https://github.com/trag1c/ixia"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
mypy = "^1.5.0"
pytest = "^7.4.0"
mkdocs = "^1.5.2"
mkdocs-material = "^9.1.21"
ruff = "^0.0.284"

[tool.mypy]
exclude = "tests"

[tool.ruff]
target-version = "py38"
select = [
    "A",
    "ANN",
    "ARG",
    "B",
    "BLE",
    "C",
    "E",
    "ERA",
    "F",
    "FBT",
    "I",
    "ISC",
    "N",
    "PIE",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "SIM",
    "SLF",
    "TCH",
    "TRY",
    "UP",
    "W",
]
ignore = [
    "ANN101",
    "ANN102",
    "ANN401",
    "RUF001",
    "RUF002",
    "RUF003",
    "TRY003",
]
exclude = ["tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
